@{
  Layout = "_Layout";
}

        <div class="jumbotron">
          <h1>Mad Libs</h1>
          <h4>Creating Funny Stories</h4>
        </div>

        <form action="/ViewMadLib">
        <label for="first-noun">Noun:</label>
        <input type="text" name="first-noun" id="first-noun">

        <label for="first-verb">Verb:</label>
        <input type="text" name="first-verb" id="first-verb">

        <label for="first-adverb">Adverb:</label>
        <input type="text" name="first-adverb" id="first-adverb">

        <label for="second-verb">Verb:</label>
        <input type="text" name="second-verb" id="second-verb">

        <label for="second-noun">Noun:</label>
        <input type="text" name="second-noun" id="second-noun">

        <button type='submit' class='btn'>Go!</button>
      </form>
